@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #eaecef;
}

header {
  padding: 30px;
  background: #041e35;
  height: 40px;
}

.sidenav {
  width: 240px;
  background: #041e35;
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all 1s;
}

.sidenav.active {
  left: 0;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  margin: 10px 0;
}

ul li a {
  color: #eaecef;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
}

ul li a svg {
  margin-right: 10px;
}

ul li a:hover,
ul li a.active {
  background: #041e35;;
}

header svg {
  font-size: 40px;
}

.main {
  background: #eaecef;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: left;
  font-size: 20px;
  color: #eaecef;
}

big {
 position: absolute;
 padding-top:1vh;
 margin-left:2vw;
 font-family:sans-serif;
}

.TodoWrapper {
  background: #041e35;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 5px;
}

.TodoForm {
  width: 100%;
    margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #eaecef;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #eaecef;
}

.todo-input::placeholder {
  color: #ffffff4d;
  
}

.todo-btn {
  background: #eaecef;
  color: #041e35;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eaecef;
  color: #041e35;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #041e35;
  cursor: pointer;
}

.completed {
  color: #97aed2;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
